.auth-button {
  background: #2e294e;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px;
  transition-duration: 0.5s;
  text-align: center;
  font-size: 1.7em;
  padding: 20px 40px 20px 40px;
}

.auth-button:hover {
  transform: scale(105%);
  cursor: pointer;
}
