.hidden {
  display: none;
}

.side-lines-divider {
  display: flex;
  max-width: 90vw;
  color: whitesmoke;
  padding-left: 5vw;
  padding-right: 5vw;
}

.side-lines-left {
  display: none;
}

.side-lines-right {
  display: none;
}

.side-lines-middle {
  max-width: inherit;
}

.home-column-flex h2 {
  font-size: 1em;
}

.split-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-column-flex .login {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: 0.2em;
  padding: 1vh 0;
  width: 90vw;
  display: flex;
  justify-content: center;
  background-color: #2e294e;
  color: whitesmoke;
  text-decoration: none;
  transition: background-color 0.5s;
}

.home-column-flex .login:hover {
  background-color: #171427;
}

.split-flex img {
  max-width: 250px;
  max-height: 250px;
  transform: rotate(-90deg);
}

.text {
  font-family: "Source Sans Pro", sans-serif;
}

.large-text {
  font-size: 1.5em;
}

.small-text {
  font-size: small;
}

.text-bold {
  font-weight: 600;
}

.button {
  padding: 1vh 2vw;
  background-color: #2e294e;
  color: white;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.5s;
  border: none;
  cursor: pointer;
}

.button.button-red {
  background-color: darkred;
}

.button.button-red:hover {
  background-color: rgb(95, 0, 0);
}

.button:hover {
  background-color: #171427;
}

.button-100 {
  height: 100%;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.float-right {
  float: right;
}

.popup-container {
  background-color: #fbfef9;
  border-radius: 25px;
  padding: 1vw;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}

.popup-container a {
  color: black;
  transition: color 0.5s;
}

.link {
  transition: color 0.5s;
}

.link:hover {
  color: #ffba08 !important;
}

.popup-container a:hover {
  color: #ffba08;
}

.table-dark-blue {
  background-color: #2e294e;
  color: white;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.capitalize {
  text-transform: capitalize;
}

.white {
  color: whitesmoke;
}

.text-center {
  text-align: center;
}

.margin-top-1vh {
  margin-top: 1vh;
}

.black {
  color: black;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.scroll-size {
  height: 10vh;
  overflow: auto;
}

@media screen and (min-width: 910px) {
  .side-lines-divider {
    display: grid;
    grid-template-columns: 5vw auto 5vw;
  }

  .side-lines-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 20vh;
  }

  .side-lines-left .link {
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.2em;
    transform: rotate(-90deg);
  }

  .line-container {
    margin-top: 10vh;
    position: relative;
    height: 40vh;
    width: 1px;
  }

  .line-container .line {
    border-left: 1px solid white;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }

  .side-lines-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side-lines-right-text {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    transform: rotate(-90deg);
    letter-spacing: 0.15em;
    white-space: nowrap;
  }
}

.popup-text-pointer {
  font-family: "Source Sans Pro", sans-serif;
  font-size: xx-large;
  cursor: pointer;
  transition: color 0.5s;
}

.popup-text-pointer:hover {
  color: #ffba08;
}
