@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&display=swap");
body {
  margin: 0;
  width: auto;
  height: 100vh;
  background: rgb(97, 67, 133);
  background: linear-gradient(
    116.64deg,
    rgba(97, 67, 133, 1) 0%,
    rgba(81, 99, 149, 1) 100%
  );
}

.element {
  background: rgba(217, 217, 217, 0.75);
  border-radius: 25px;
  padding: 20px;
}
.white-element {
  background-color: #fbfef9;
  border-radius: 25px;
  padding: 30px;
  margin: 20px;
  color: black;
}
h1,
h2,
h3 {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
p,
span {
  font-family: "Source Sans Pro", sans-serif;
}
.columncenter {
  align-items: center;
}
.pointer:hover {
  cursor: pointer;
}
.listelement {
  background-color: #e3e8f1;
  padding: 1px;
}
.list {
  gap: 10px;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.buttonspacing {
  gap: 100px;
}
.alternatebackground:nth-child(even) {
  background-color: rgb(167, 167, 167);
}
