@media screen and (min-width: 426px) {
  .split-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .home-column-flex .login {
    width: 40vw;
    font-size: 2em;
  }

  .split-flex img {
    max-width: 40vw;
    max-height: 40vw;
  }
}
