.grid {
  display: grid;
}
.coachgrid {
  grid-template-areas:
    "topleft topright"
    "bottomleft bottomright";
}
.gridelement {
  padding: 20px;
}
.coachgrid .box1 {
  grid-area: topleft;
}
.coachgrid .box2 {
  grid-area: topright;
}
.coachgrid .box3 {
  grid-area: bottomleft;
}
.coachgrid .box4 {
  grid-area: bottomright;
}
