.grid {
  display: grid;
}
.gridelement {
  padding: 20px;
}
.usergrid {
  grid-template-areas:
    "topleft topright"
    "bottomleft bottomright";
}
.usergrid .box1 {
  grid-area: topleft;
}
.usergrid .box2 {
  grid-area: topright;
}
.usergrid .box3 {
  grid-area: bottomleft;
}
.usergrid .box4 {
  grid-area: bottomright;
}
