.grid {
  display: grid;
}
.managergrid {
  grid-template-areas:
    "left topright"
    "left bottomright";
}
.gridelement {
  padding: 20px;
}
.managergrid .box1 {
  grid-area: left;
}
.managergrid .box2 {
  grid-area: topright;
}
.managergrid .box3 {
  grid-area: bottomright;
}
