.grid {
  display: grid;
}
.gridelement {
  padding: 20px;
}
.hrgrid {
  grid-template-areas:
    "left topright"
    "left bottomright";
}
.hrgrid .box1 {
  grid-area: left;
}
.hrgrid .box2 {
  grid-area: topright;
}
.hrgrid .box3 {
  grid-area: bottomright;
}
